.image-290-icon,
.image-291-icon {
  position: absolute;
  object-fit: cover;
}
.image-290-icon {
  width: 100%;
  top: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  height: 30.06rem;
}
.image-291-icon {
  top: 1.31rem;
  left: calc(50% - 63px);
  width: 8.13rem;
  height: 2.54rem;
}
.span2 {
  color: var(--color-red);
}
.say-it-organization-container1 {
  align-self: stretch;
  align-self: center;
  position: relative;
  font-size: var(--font-size-29xl);
  font-family: var(--font-abhaya-libre-extrabold);
  margin-right: 5px;
}
.empowering-youth-voices1 {
  align-self: stretch;
  position: relative;
  text-align: center;
}
.bashkohu-me1 {
  position: absolute;
  margin: 0 !important;
  top: 0.25rem;
  left: 1rem;
  font-weight: 600;
  z-index: 0;
}
.bashkohu-me-container,
.say-it-organization-parent {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.bashkohu-me-container {
  border-radius: var(--br-xl);
  background-color: var(--color-red);
  width: 6.44rem;
  height: 1.5rem;
  overflow: hidden;
  flex-shrink: 0;
  justify-content: center;
  position: relative;
}
.say-it-organization-parent {
  position: absolute;
  top: 8.69rem;
  left: calc(50% - 193px);
  width: 24.88rem;
  justify-content: flex-start;
  gap: 1.31rem;
}
.iphone-14-15-pro-max-20-child {
  position: absolute;
  height: 12.01%;
  width: 100%;
  top: 70.32%;
  right: 0;
  bottom: 18.67%;
  left: 0;
  background-color: var(--color-whitesmoke);
}
.partneret1 {
  position: relative;
  font-weight: 600;
}
.image-290-icon1 {
  align-self: stretch;
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.image-290-parent {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.frame-parent16,
.partneret-parent {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.frame-parent16 {
  align-self: stretch;
  height: 13.78rem;
  align-items: flex-start;
  gap: 2rem;
}
.partneret-parent {
  position: absolute;
  height: 8.31%;
  width: 77.34%;
  top: 73.31%;
  right: 10.79%;
  bottom: 23.38%;
  left: 11.87%;
  align-items: center;
  gap: var(--gap-33xl);
  font-size: var(--font-size-5xl);
  color: var(--color-black);
}
.menu-icon1 {
  position: absolute;
  top: 1.75rem;
  left: 1.25rem;
  width: 1.5rem;
  height: 1.5rem;
}
.iphone-14-15-pro-max-20 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 231.94rem;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-3xs);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
.image-19-parent1 {
  height: 5.19rem;

  gap: 6.06rem;
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
  grid-gap: 20px;
  padding: 10px;
  flex: none;
}
.carousel-wrapper1 {
  width: 140%;
  display: flex;
  overflow-x: scroll;
  height: fit-content;
  margin-left: -10%;
}
.carousel-wrapper1::-webkit-scrollbar {
  display: none;
}

.carousel-wrapper1 span {
  gap: 1.06rem;
  width: 60%;
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
  grid-gap: 20px;
  padding: 20px 0px;

  align-items: center;
  flex: none;
}
.carousel-wrapper1 span:nth-child(1) {
  gap: 1.06rem;
  width: 60%;
  display: grid;
  grid-template-columns: auto auto auto;
  position: relative;
  grid-gap: 20px;
  padding: 20px 0px;
  flex: none;
}
.image-19-icon1 {
  width: 80%;
}
