.frame-child58 {
  position: relative;
  width: 24.94rem;
  height: 22.38rem;
}
.udhetim27 {
  flex: 1;
  position: relative;
}
.frame42 {
  flex: 1;
  background-color: var(--color-red);
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-2xs);
}
.nentor-202315 {
  position: relative;
  font-size: var(--font-size-xs);
  display: inline-block;
  width: 5.75rem;
  flex-shrink: 0;
}
.frame-parent103 {
  width: 13.19rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-4xl);
}
.udhetim-ne-shengjergj15 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-13xl);
  font-weight: 600;
}
.frame-parent102 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xl);
}
.frame41,
.frame44 {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.frame41 {
  flex: 1;
  height: 33.25rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-3xl) var(--padding-29xl);
  gap: var(--gap-7xl);
  background-image: url(/public/frame@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  background-position: top;
}
.frame44 {
  background-color: var(--color-red);
  width: 5.06rem;
  flex-shrink: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-9xs) var(--padding-2xs);
}
.nentor-202316 {
  position: relative;
  font-size: var(--font-size-2xs);
  display: inline-block;
  width: 5.75rem;
  flex-shrink: 0;
}
.udhetim-ne-shengjergj16 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-5xl);
  font-weight: 600;
}
.frame43,
.frame45 {
  align-self: stretch;
  height: 15.81rem;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: var(--padding-125xl) var(--padding-11xl) var(--padding-2xl);
  box-sizing: border-box;
  background-image: url(/public/frame1@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  cursor: pointer;
}
.frame45 {
  background-image: url(/public/frame2@3x.png);
}
.frame-parent101,
.frame-parent104 {
  display: flex;
  justify-content: flex-start;
}
.frame-parent104 {
  width: 50%;
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-7xl);
  font-size: var(--font-size-smi);
}
.frame-parent101 {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  gap: var(--gap-5xl);
  text-align: left;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-poppins);
}
